/* ========= TABLE OF CONTENTS ========= 
    01. VARIABLES
    02. GENERAL
    98. STYLEGUIDE
    99. TOP LEVEL

    -- maintain 4 line gap between different sections
*/



/* ========= 01 VARIABLES ========= */
:root {
  /* color */
  --AppleRed100: #B42637;     /* Apple Red byjackli   - Brand identity color suitable for background, header text, and error messages */
  --AppleRed065: #B5263780;   /* Apple Red byjackli   - Suitable for in-text link decoration and inactive inpit fields */
  
  --SkidBlack100: #171717;    /* Skid Black byjackli  - Suitable for any text and backgrounds. This is the default 'dark-mode' */
  --DarkBlack065: #000000A6;  /* Dark Black byjackli  - Suitable for overalys, tagged texts, drop shadows, help messages, and error messages */
  --DarkBlack025: #00000040;  /* Dark Black byjackli  - Suitable for card and block drop shadows */

  --PaperWhite100: #F2F2F2;   /* Paper White byjackli - Suitable for any text and backgrounds. This is the default 'light-mode' color */
  --CleanWhite100: #FFFFFF;   /* Clean White byjackli - Suitable for card and block backgrounds. */
  --CleanWhite075: #FFFFFFBF; /* Clean White byjackli - Suitable for overlays */
}




/* ========= 02 GENERAL ========= */
html, body, #root, .App, .App>div {
  width: 100%;
  height: 100%;
  background-color: var(--PaperWhite100);
}

* {
  box-sizing: border-box;
  margin: 0;
  position: relative;

  font-family: 'Roboto', 'Font Awesome 5 Free', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--SkidBlack100);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: left;
  display: flex;
  flex-direction: row;
}

.App>div {
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  height: 100%;
  padding: 50px;
  
  overflow-y: scroll;
  overflow-x: hidden;
}

/* headings */
h1, h2, h3, h4, h5, 
.style1, .style2, .style3, .style4, .style5, 
.slot-header { font-weight: 600; }
h1, .style1 { font-size: 300%; }
h2, .style2 { font-size: 275%; }
h3, .style3 { font-size: 200%; }
h4, .style4 { font-size: 125%; }
h5, .style5 { font-size: 100%; }

/* superscript */
.sup {
  font-size: 50%;
  bottom: 1em;
}

/* paragraph settings */
.content {
  word-break: break-all;
  white-space: pre-line;
}

.vrtTL, .hrzTL {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.hrzTL {
  flex-direction: row;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: .5em;
  border-radius: 15px;
} 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 20px var(--error1);
  border-radius: 15px;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--color1);
  outline: 1px solid var(--error1);
  border-radius: 15px;
}




/* ========= 03 COMPONENTS ========= */
/* --- 03a Buttons and Links --- */
.button-root { display: inline-block; }
/* Box Button */
.button-box-fill, .button-pill-fill, 
.button-box-nofill, .button-pill-nofill,
input[type="submit"] {
  width: fit-content;
  border: 2px solid var(--AppleRed100);
  padding: 8px 10px;
  background-color: var(--AppleRed100);

  cursor: pointer;
  color: var(--PaperWhite100);
  font-weight: 600;
  font-size: inherit;
  font-family: inherit;

  transition: all .3s;
}
.button-box-fill:hover, .button-pill-fill:hover, 
.button-box-fill:focus, .button-pill-fill:focus,
.button-box-nofill:hover, .button-pill-nofill:hover, 
.button-box-nofill:focus, .button-pill-nofill:focus  {
  outline: none;
  color: var(--AppleRed100);
  background-color: var(--PaperWhite100);
  transition: all .1s;
}
/* Pill Button */
.button-pill-fill {
  border-radius: 99px;
}
/* Box and Pill Buttons - nofill variant */
.button-box-nofill, .button-pill-nofill {
  background-color: var(--PaperWhite100);
  border-color: var(--PaperWhite100);
  color: var(--AppleRed100);
}
.button-box-nofill:hover, .button-pill-nofill:hover, 
.button-box-nofill:focus, .button-pill-nofill:focus {
  background-color: var(--AppleRed100);
  color: var(--PaperWhite100);
}
/* In-Text Link */
a:link, a:visited {
  text-decoration: none;
  transition: all .3s;
  z-index: 1;
}
.intext:hover, .intext:hover *, .intext:focus, .intext:focus * {
  outline: none;
  color: var(--PaperWhite100);
  transition: all .2s;
}
.intext:link::after {
  content: "";
  position: absolute;
  width: 100%;
  background: var(--AppleRed065);
  
  left: 0;
  bottom: -1px;
  height: .5em;
  z-index: -1;
  transition: all .3s;
}
.intext:link:hover::after, .intext:link:focus::after {
  height: 1.5em;
  bottom: 0;
  background-color: var(--AppleRed100);
  transition: all .1s;
}


/* --- 03b Forms --- */
/* Input Fields */
input::placeholder {
  color: var(--CleanWhite100);
  transition: all .3s;
}
input[type='text'], input[type='email'], input[type='password'], input[type='search'] {
  min-width: 45%;
  background-color: var(--AppleRed065);
  padding: 15px 20px;
  border: none;
  border-radius: 99px;
  outline: none;

  font-weight: 400;
  color: var(--PaperWhite100);
  transition: all .3s;
}
input:focus::placeholder, input:hover::placeholder {
  color: var(--CleanWhite075);
  transition: all .1s;
}
input:focus, input:hover {
  background-color: var(--AppleRed100);
  outline: none;
  transition: all .1s;
}
/* Lists */
ol {
  list-style: none;
}


/* --- 03c Cards and Slots --- */
/* Card */
.card {
  min-width: 540px;
  height: fit-content;
  background-color: var(--CleanWhite100);
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0px 2px 2px var(--DarkBlack025);
}
.card>div {
  width: 100%;
  height: 100%;
  padding-top: 25px;
}
.card-cap {
  height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* Slot */
.slot {
  width: 100%;
  height: fit-content;
  padding: 20px;
  padding-top: 0;
  margin: 15px 0;
  overflow: hidden;
}
.slot:first-of-type { margin-top: 0px; }
.slot:last-of-type { margin-bottom: 0px; }
.slot-time {
  min-width: 120px;
  background-color: var(--AppleRed100);
  padding: 15px;
}
.slot-time>* {
  color: var(--PaperWhite100);
}
.slot h4 {
  padding: 15px 35px;
}
.slot .hrzTL {
  min-height: 25px; 
  height: fit-content;
  z-index: 1; 
}
.slot .hrzTL:first-of-type { margin-bottom: 20px;}
.slot .slot-bg {
  width: 100%;
  height: 100%;
  
  position: absolute;
  top: 0;
  left: 0;
}
/* Tag */
.tag {
  padding: 5px 10px;
  background-color: var(--DarkBlack065);
  margin-right: 15px;
  border-radius: 99px;

  text-decoration: none;
  color: var(--CleanWhite075);
  transition: all .3s;
}
.tag:hover {
  color: var(--PaperWhite100);
  transition: all .1s;
}
.tag:last-of-type {
  margin: 0;
}


/* --- 03d Navigation --- */
/* Homepage Navigation */
nav, nav .left, .compact-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav, .compact-navbar {
  width: 100%;
  height: 75px;
  padding: 0 25px;
  background-color: var(--PaperWhite100);
  justify-content: space-between;

  flex: auto;
}
nav div { 
  height: 100%; 
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a {
  margin: 0 25px;

  color: var(--AppleRed100);
  font-weight: 600;
  text-decoration: none;
  transition: all .3s;
}
.navlink { height: 100%; }
nav a * { color: var(--AppleRed100); }
nav .left { 
  flex: inherit;
  flex-grow: 1;
}
nav .left a:first-of-type, nav a:last-of-type {
  margin: 0;
}
nav .left a:last-of-type {
  margin: 0 50px 0 25px;
}
.active {
  background-color: var(--AppleRed100);
  color: var(--PaperWhite100);
  transition: all .1s;
}
/* Compact Navigation */
.compact-navbar {
  height: fit-content;
  padding: 2px 25px;
}
.compact-navbar a, .compact-navbar i {
  font-size: 18px;
  color: var(--PaperWhite100);
}
.compact-navbar .left a:last-of-type {
  margin: 0 25px;
}
/* Search bar */
input[type='search'] {
  font-weight: 600;
  width: 45%;
}
input[type='search']:focus {
  font-weight: 600;
  min-width: 55%;
}
/* Menu bar */
.menubar {
  width: 300px;
  background-color: var(--PaperWhite100);
  justify-content: space-between;
}
.menubar * { width: 100%; }
.menubar .button-box-fill { width: 100%; }
.menubar .top { height: calc(100% - 84px); }
.menubar .categories { 
  height: 100%;
  overflow-y: scroll; 
}
.menubar p {
  width: 250px;
  padding: 40px;
  font-size: 125%;
}
.menubar ol { padding-bottom: 30px; }
.menubar ol * { color: var(--SkidBlack100); }
.menubar ol li:first-of-type { color: var(--DarkBlack065); }
/* Footer */
footer.hrzTL {
  width: 100%;
  height: fit-content;
  background-color: var(--AppleRed100);
  padding: 45px;
  justify-content: space-between;
}
footer * {
  color: var(--PaperWhite100);
}
footer p { padding-top: 15px; width: 250px;}
footer ol { padding-left: 100px; }



/* ========= 98 STYLEGUIDE ========= */
main.styleguide { background-color: #C4C4C4 !important; }
main.styleguide section { margin: 50px !important; }
main.styleguide section>* { margin: 50px !important; }
main.styleguide section>h2,
main.styleguide nav,
main.styleguide .compact-navbar,
main.styleguide .menubar,
main.styleguide footer { margin: 50px 0 !important; }
main.styleguide div.menubar { height: 800px !important; }
.styleguide .cards-and-slots { width: 540px !important; }